<div class="login-register">
    <div class="login-register-box">
        <form [formGroup]="loginForm">
            <div class="text-center">
                <!-- <img alt="homepage" src="assets/images/logo-icon.png" /> -->
                <img class="loginIcon" alt="homepage" [src]="loginIcon" />

                <img
                    class="mukalamatIcon"
                    alt="homepage"
                    [src]="mukalamatIcon"
                />

                <img
                    class="PhoneBillingIcon"
                    alt="homepage"
                    [src]="PhoneBillingSystemIcon"
                />
                <h4 class="m-t-0 loginText">{{ 'LoginToApp' | translate }}</h4>
            </div>

            <div fxLayout="row wrap">
                <!-- col full-->
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-form-field class="loginFields">
                        <!-- <mat-label>{{
                                    'PhoneNumber' | translate
                                }}</mat-label> -->
                        <input
                            matInput
                            placeholder="{{ 'PhoneNumber' | translate }}"
                            formControlName="PhoneNumber"
                        />

                        <mat-icon
                            *ngIf="
                                !loginForm.controls['PhoneNumber'].hasError(
                                    'required'
                                ) || !loginForm.controls['PhoneNumber'].touched
                            "
                            matSuffix
                            class="loginIcons"
                        >
                            person_outline
                        </mat-icon>

                        <mat-icon
                            matSuffix
                            class="loginIconsRed"
                            *ngIf="
                                loginForm.controls['PhoneNumber'].hasError(
                                    'required'
                                ) && loginForm.controls['PhoneNumber'].touched
                            "
                        >
                            person_outline
                        </mat-icon>
                    </mat-form-field>
                    <small
                        *ngIf="
                            loginForm.controls['PhoneNumber'].hasError(
                                'required'
                            ) && loginForm.controls['PhoneNumber'].touched
                        "
                        class="text-danger support-text"
                        >{{ 'PhoneNumberRequired' | translate }}</small
                    >
                </div>
                <!-- col full-->
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-form-field class="loginFields">
                        <!-- <mat-label>{{
                                    'Password' | translate
                                }}</mat-label> -->
                        <input
                            matInput
                            [type]="isHidePassword ? 'password' : 'text'"
                            placeholder="{{ 'Password' | translate }}"
                            formControlName="Password"
                        />

                        <mat-icon
                            *ngIf="
                                loginForm.controls['Password'].hasError(
                                    'required'
                                ) && loginForm.controls['Password'].touched
                            "
                            matSuffix
                            class="loginIconsRed cursor"
                            (click)="isHidePassword = !isHidePassword"
                        >
                            {{
                                isHidePassword ? 'visibility_off' : 'visibility'
                            }}
                        </mat-icon>

                        <mat-icon
                            *ngIf="
                                !loginForm.controls['Password'].hasError(
                                    'required'
                                ) || !loginForm.controls['Password'].touched
                            "
                            matSuffix
                            class="loginIcons cursor"
                            (click)="isHidePassword = !isHidePassword"
                        >
                            {{
                                isHidePassword ? 'visibility_off' : 'visibility'
                            }}
                        </mat-icon>
                    </mat-form-field>
                    <small
                        *ngIf="
                            loginForm.controls['Password'].hasError(
                                'required'
                            ) && loginForm.controls['Password'].touched
                        "
                        class="text-danger support-text"
                        >{{ 'PasswordRequired' | translate }}</small
                    >
                </div>

                <!-- col full-->
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <button
                        mat-raised-button
                        class="btn-block btn-lg m-t-20 m-b-20 loginButton"
                        (click)="logIn()"
                        [disabled]="!loginForm.valid"
                    >
                        {{ 'Login' | translate }}
                        <div class="loginImg"></div>
                    </button>
                </div>

                <div class="forgotDiv">
                    <a
                        [routerLink]="['/auth/forgot-password']"
                        class="forgotLink"
                        >{{ 'ForgotPassword' | translate }}</a
                    >
                </div>
                <!-- col full-->
                <!-- <div
                            fxFlex.gt-sm="100"
                            fxFlex.gt-xs="100"
                            fxFlex="100"
                            class="text-center"
                        >
                            <span
                                >{{ 'HavenotAccount' | translate }}
                                <a
                                    (click)="registerRedirect()"
                                    class="text-info link link-hand"
                                    >{{ 'Register' | translate }}</a
                                >
                            </span>
                        </div> -->
            </div>
        </form>
    </div>
</div>
<footer class="footer">
    <img [src]="footerIcon" class="footerIcon" />
</footer>
