<mat-card>
    <mat-card-content>
        <form novalidate [formGroup]="frmFilter" (ngSubmit)="onSearch()">
            <div fxLayout="row wrap">
                <div
                    class="p-12"
                    fxFlex.gt-sm="50"
                    fxFlex.gt-xs="50"
                    fxFlex="100"
                    *ngIf="showDateRange"
                >
                    <mat-form-field style="width: 100%">
                        <mat-form-field appearance="fill">
                            <mat-label>Enter a date range</mat-label>
                            <mat-date-range-input
                                [formGroup]="frmFilter"
                                [rangePicker]="picker"
                            >
                                <input
                                    matStartDate
                                    formControlName="fromDate"
                                    placeholder="Start date"
                                />
                                <input
                                    matEndDate
                                    formControlName="toDate"
                                    placeholder="End date"
                                />
                            </mat-date-range-input>
                            <mat-datepicker-toggle
                                matSuffix
                                [for]="picker"
                            ></mat-datepicker-toggle>
                            <mat-date-range-picker
                                #picker
                            ></mat-date-range-picker>
                            <mat-error
                                *ngIf="
                                    frmFilter.controls.fromDate.hasError(
                                        'matStartDateInvalid'
                                    )
                                "
                                >Invalid start date</mat-error
                            >
                            <mat-error
                                *ngIf="
                                    frmFilter.controls.toDate.hasError(
                                        'matEndDateInvalid'
                                    )
                                "
                                >Invalid end date</mat-error
                            >
                        </mat-form-field>
                    </mat-form-field>
                </div>
                <div
                    class="p-10"
                    fxFlex.gt-sm="50"
                    fxFlex.gt-xs="50"
                    fxFlex="100"
                    *ngIf="showGroups"
                >
                    <mat-form-field>
                        <mat-label>{{ 'groupName' | translate }}</mat-label>
                        <mat-select
                            placeholder="{{ 'groupName' | translate }}"
                            formControlName="groupId"
                        >
                            <mat-option [value]="0">{{
                                'all' | translate
                            }}</mat-option>
                            <mat-option
                                *ngFor="let group of groupData"
                                [value]="group.id"
                            >
                                {{ group.groupNameAr }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div
                    class="p-10"
                    fxFlex.gt-sm="50"
                    fxFlex.gt-xs="50"
                    fxFlex="100"
                    *ngIf="showUsers"
                >
                    <mat-form-field>
                        <mat-label>{{ 'users' | translate }}</mat-label>
                        <mat-select
                            placeholder="{{ 'users' | translate }}"
                            formControlName="userId"
                        >
                            <mat-option [value]="0">{{
                                'all' | translate
                            }}</mat-option>
                            <mat-option
                                *ngFor="let user of userData"
                                [value]="user.userId"
                            >
                                {{ user.userName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div
                    class="p-10"
                    fxFlex.gt-sm="50"
                    fxFlex.gt-xs="50"
                    fxFlex="100"
                    *ngIf="showServiceType"
                >
                    <mat-form-field>
                        <mat-label>{{ 'serviceTypes' | translate }}</mat-label>
                        <mat-select
                            placeholder="{{ 'serviceTypes' | translate }}"
                            formControlName="serviceTypeId"
                        >
                            <mat-option [value]="0">{{
                                'all' | translate
                            }}</mat-option>
                            <mat-option
                                *ngFor="let serviceType of serviceTypeData"
                                [value]="serviceType.id"
                            >
                                {{ serviceType.serviceTypeNameEn }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div
                    class="p-10"
                    fxFlex.gt-sm="50"
                    fxFlex.gt-xs="50"
                    fxFlex="100"
                    *ngIf="showCountries"
                >
                    <mat-form-field>
                        <mat-label>{{ 'Countries' | translate }}</mat-label>
                        <mat-select
                            placeholder="{{ 'Countries' | translate }}"
                            formControlName="countryId"
                        >
                            <mat-option [value]="0">{{
                                'all' | translate
                            }}</mat-option>
                            <mat-option
                                *ngFor="let country of countryData"
                                [value]="country.id"
                            >
                                {{ country.countryNameEn }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div
                    class="p-10"
                    fxFlex.gt-sm="50"
                    fxFlex.gt-xs="50"
                    fxFlex="100"
                    *ngIf="showExcludeCountries"
                >
                    <mat-form-field>
                        <mat-label>{{
                            'ExcludeCountries' | translate
                        }}</mat-label>
                        <mat-select
                            placeholder="{{ 'ExcludeCountries' | translate }}"
                            formControlName="countryIdExclude"
                        >
                            <mat-option [value]="0">{{
                                'all' | translate
                            }}</mat-option>
                            <mat-option
                                *ngFor="let country of countryExcludeData"
                                [value]="country.id"
                            >
                                {{ country.countryNameEn }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div
                    class="p-10"
                    fxFlex.gt-sm="50"
                    fxFlex.gt-xs="50"
                    fxFlex="100"
                    *ngIf="showTypesPhoneNumber"
                >
                    <mat-form-field>
                        <mat-label>{{
                            'typePhoneNumberName' | translate
                        }}</mat-label>
                        <mat-select
                            placeholder="{{
                                'typePhoneNumberName' | translate
                            }}"
                            formControlName="typePhoneNumberId"
                        >
                            <mat-option [value]="0">{{
                                'all' | translate
                            }}</mat-option>
                            <mat-option
                                *ngFor="
                                    let typePhoneNumber of typesPhoneNumberData
                                "
                                [value]="typePhoneNumber.id"
                            >
                                {{ typePhoneNumber.typeNameEn }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div
                    class="p-10"
                    fxFlex.gt-sm="50"
                    fxFlex.gt-xs="50"
                    fxFlex="100"
                    *ngIf="showIsSubmitted"
                >
                    <mat-checkbox formControlName="isSubmitted">{{
                        'isSubmitted' | translate
                    }}</mat-checkbox>
                </div>
                <div fxLayout="row wrap">
                    <div
                        class="p-10"
                        fxFlex.gt-sm="50"
                        fxFlex.gt-xs="50"
                        fxFlex="100"
                    >
                        <button mat-raised-button type="submit" color="primary">
                            <mat-icon>search</mat-icon>
                            {{ 'Search' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>
