<form novalidate [formGroup]="frmFilter" (ngSubmit)="onSearch()">
    <div>
        <div class="fieldsDiv" fxFlex="100" *ngIf="showDateRange">
            <mat-form-field class="dateField">
                <mat-form-field>
                    <mat-date-range-input
                        [formGroup]="frmFilter"
                        [rangePicker]="picker"
                    >
                        <input
                            matStartDate
                            formControlName="fromDate"
                            placeholder="{{ 'startDate' | translate }}"
                            disabled
                        />
                        <input
                            matEndDate
                            formControlName="toDate"
                            placeholder="{{ 'endDate' | translate }}"
                            disabled
                        />
                    </mat-date-range-input>
                    <mat-datepicker-toggle
                        matSuffix
                        [for]="picker"
                        disabled="false"
                    ></mat-datepicker-toggle>
                    <mat-date-range-picker
                        #picker
                        disabled="false"
                    ></mat-date-range-picker>
                    <mat-error
                        *ngIf="
                            frmFilter.controls.fromDate.hasError(
                                'matStartDateInvalid'
                            )
                        "
                        >Invalid start date</mat-error
                    >
                    <mat-error
                        *ngIf="
                            frmFilter.controls.toDate.hasError(
                                'matEndDateInvalid'
                            )
                        "
                        >Invalid end date</mat-error
                    >
                </mat-form-field>
            </mat-form-field>
        </div>

        <div class="fieldsDiv" fxFlex="100" *ngIf="showGroups">
            <mat-form-field class="searchFields">
                <mat-select
                    placeholder="{{ 'groupName' | translate }}"
                    formControlName="groupId"
                >
                    <mat-option [value]="0">{{ 'all' | translate }}</mat-option>
                    <mat-option
                        *ngFor="let group of groupData"
                        [value]="group.id"
                    >
                        {{ group.groupNameAr }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="fieldsDiv" fxFlex="100" *ngIf="showUsers">
            <mat-form-field class="searchFields">
                <mat-select
                    placeholder="{{ 'users' | translate }}"
                    formControlName="userId"
                >
                    <mat-option [value]="0">{{ 'all' | translate }}</mat-option>
                    <mat-option *ngFor="let user of userData" [value]="user.id">
                        {{ user.userName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="fieldsDiv" fxFlex="100" *ngIf="showServiceType">
            <mat-form-field class="searchFields">
                <mat-select
                    placeholder="{{ 'serviceUsedName' | translate }}"
                    formControlName="serviceUsedId"
                >
                    <mat-option [value]="0">{{ 'all' | translate }}</mat-option>
                    <mat-option
                        *ngFor="let serviceUsed of servicesUsedData"
                        [value]="serviceUsed.id"
                    >
                        {{ serviceUsed.serviceUsedNameEn }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!-- <div

                    class="fieldsDiv"
                    fxFlex="100"
                    *ngIf="showCountries"
                >
                    <mat-form-field class="searchFields">
                        <mat-select
                            placeholder="{{ 'Countries' | translate }}"
                            formControlName="countryId"
                        >
                            <mat-option [value]="0">{{
                                'all' | translate
                            }}</mat-option>
                            <mat-option
                                *ngFor="let country of countryData"
                                [value]="country.id"
                            >
                                {{ country.countryNameEn }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div> -->
        <div class="fieldsDiv" fxFlex="100" *ngIf="showExcludeCountries">
            <mat-form-field class="searchFields">
                <mat-select
                    placeholder="{{ 'ExcludeCountries' | translate }}"
                    formControlName="countryIdExclude"
                >
                    <mat-option [value]="0">{{ 'all' | translate }}</mat-option>
                    <mat-option
                        *ngFor="let country of countryExcludeData"
                        [value]="country.id"
                    >
                        {{ country.countryNameEn }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="fieldsDiv" fxFlex="100" *ngIf="showTypesPhoneNumber">
            <mat-form-field class="searchFields">
                <mat-select
                    placeholder="{{ 'typePhoneNumberName' | translate }}"
                    formControlName="typePhoneNumberId"
                >
                    <mat-option [value]="0">{{ 'all' | translate }}</mat-option>
                    <mat-option
                        *ngFor="let typePhoneNumber of typesPhoneNumberData"
                        [value]="typePhoneNumber.id"
                    >
                        {{ typePhoneNumber.typeNameEn }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="fieldsDiv" fxFlex="100" *ngIf="showMonthsNames">
            <mat-form-field class="searchFields">
                <mat-select
                    placeholder="{{ 'months' | translate }}"
                    formControlName="billMonthId"
                >
                    <mat-option
                        *ngFor="let month of monthsNames; let i = index"
                        [value]="i + 1"
                    >
                        {{ month | translate }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="fieldsDiv" fxFlex="100" *ngIf="showYearsNumbers">
            <mat-form-field class="searchFields">
                <mat-select
                    placeholder="{{ 'years' | translate }}"
                    formControlName="billYearId"
                >
                    <mat-option *ngFor="let year of years" [value]="year">
                        {{ year }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="fieldsDiv checkBox" fxFlex="100" *ngIf="showIsSubmitted">
            <mat-checkbox formControlName="isSubmitted">{{
                'isSubmitted' | translate
            }}</mat-checkbox>
        </div>
        <div fxLayout="row wrap">
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <button mat-raised-button type="submit" class="searchButton">
                    <mat-icon>search</mat-icon>
                    {{ 'Search' | translate }}
                </button>
            </div>
        </div>
    </div>
</form>
