<form novalidate [formGroup]="frmAddNew" (ngSubmit)="onSubmit()">
    <div fxLayout="row wrap" class="dialogContainer">
        <div class="Title" *ngIf="ID === 0">{{ 'addGroup' | translate }}</div>
        <div class="Title" *ngIf="ID != 0">{{ 'editGroup' | translate }}</div>
        <div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
            <ng-template>
                <mat-form-field style="width: 100%">
                    <input
                        matInput
                        placeholder="Id"
                        formControlName="Id"
                        type="text"
                    />
                </mat-form-field>
            </ng-template>
        </div>

        <div class="p-10" fxFlex.gt-sm="50" fxFlex="100">
            <mat-form-field style="width: 100%">
                <mat-label>{{ 'groupNameAr' | translate }}</mat-label>
                <input
                    matInput
                    placeholder="{{ 'groupNameAr' | translate }}"
                    formControlName="GroupNameAr"
                    type="text"
                    autocomplete="off"
                />
            </mat-form-field>
        </div>

        <div class="p-10" fxFlex.gt-sm="50" fxFlex="100">
            <mat-form-field style="width: 100%">
                <mat-label>{{ 'groupNameEn' | translate }}</mat-label>
                <input
                    matInput
                    placeholder="{{ 'groupNameEn' | translate }}"
                    formControlName="GroupNameEn"
                    type="text"
                    autocomplete="off"
                />
            </mat-form-field>
        </div>
    </div>

    <div class="actionButtonsCont">
        <button
            mat-raised-button
            [mat-dialog-close]="false"
            class="closeButton"
        >
            <mat-icon>close</mat-icon>
            {{ 'Close' | translate }}
        </button>

        <button
            *ngIf="ID === 0"
            mat-raised-button
            type="submit"
            class="addButton"
            [disabled]="!frmAddNew.valid || isInProgress"
        >
            <mat-icon>add</mat-icon> {{ 'Add' | translate }}
        </button>

        <button
            *ngIf="ID != 0"
            mat-raised-button
            type="submit"
            class="saveButton"
            [disabled]="!frmAddNew.valid || isInProgress"
        >
            <mat-icon>save</mat-icon>
            {{ 'Save' | translate }}
        </button>
    </div>
</form>
