<mat-card>
    <mat-card-content>
        <div>
            <div class="dropDownDiv">
                <mat-form-field class="dropDownField">
                    <mat-select
                        (selectionChange)="changeIncomingBills($event.value)"
                        placeholder="{{ 'statusNumberName' | translate }}"
                        [(value)]="selectedStatusBill"
                    >
                        <mat-option
                            *ngFor="
                                let satusBill of statusCycleBills;
                                let i = index
                            "
                            [value]="i + 1"
                        >
                            {{ satusBill | translate }}</mat-option
                        >
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="billActionsButtonsCont">
                <button
                    *ngIf="isSuperAdminUser | async"
                    mat-raised-button
                    type="submit"
                    class="billActionsButtons"
                    (click)="onPay()"
                    [disabled]="
                        selectedStatusBill !== StatusCycleResult.Approved ||
                        billsStatus.length === 0
                    "
                >
                    {{ 'Pay' | translate }}
                    <div class="payIcon"></div>
                </button>
            </div>

            <div class="billActionsButtonsCont">
                <button
                    *ngIf="isSuperAdminUser | async"
                    mat-raised-button
                    type="submit"
                    class="billActionsButtons"
                    (click)="onRejectRow()"
                    [disabled]="
                        selectedStatusBill == StatusCycleResult.Rejected ||
                        billsStatus.length === 0
                    "
                >
                    {{ 'Reject' | translate }}
                    <div class="rejectIcon"></div>
                </button>
            </div>

            <div class="billActionsButtonsCont">
                <button
                    *ngIf="isSuperAdminUser | async"
                    mat-raised-button
                    type="submit"
                    class="billActionsButtons"
                    (click)="onApproveRow()"
                    [disabled]="
                        selectedStatusBill == StatusCycleResult.Approved ||
                        billsStatus.length === 0
                    "
                >
                    {{ 'Approve' | translate }}
                    <div class="approveIcon"></div>
                </button>
            </div>

            <div class="billActionsButtonsCont">
                <button
                    *ngIf="isSuperAdminUser | async"
                    mat-raised-button
                    type="submit"
                    class="billActionsButtons"
                    (click)="onInprogressRow()"
                    [disabled]="
                        selectedStatusBill ==
                            StatusCycleResult.InprogressToApproved ||
                        billsStatus.length === 0
                    "
                >
                    {{ 'Inprogress' | translate }}
                    <div class="inProgressIcon"></div>
                </button>
            </div>
        </div>
        <app-data-grid-view
            [gridDataSource]="dataSource"
            [displayedColumns]="[
            'id',
            'userName',
            'groupName',
            'billMonth',
            'billYear',
            'isPaid',
            'billStatus',
            'billNote',
        ]"
            (onCheckRow)="onActionRowGrid($event)"
            (onPagination)="onActionRowGrid($event)"
            [lengthData]="length"
            [PaginatorIndex]="paginationIndex"
            [isShowMainActionControls]="false"
            [isShowBoxSelectAll]="true"
        >
        </app-data-grid-view>
    </mat-card-content>
</mat-card>
