<mat-card>
    <mat-card-content>
        <div fxLayout="row wrap">
            <div class="p-10" fxFlex.gt-sm="40" fxFlex.gt-xs="40" fxFlex="100">
                <mat-form-field>
                    <mat-label>{{ 'statusBill' | translate }}</mat-label>
                    <mat-select
                        (selectionChange)="changeIncomingBills($event.value)"
                        placeholder="{{ 'statusNumberName' | translate }}"
                        [(value)]="selectedStatusBill"
                    >
                        <mat-option
                            *ngFor="
                                let satusBill of statusCycleBills;
                                let i = index
                            "
                            [value]="i + 1"
                        >
                            {{ satusBill | translate }}</mat-option
                        >
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="p-10" fxFlex.gt-sm="15" fxFlex.gt-xs="15" fxFlex="100">
                <button
                    *ngIf="isSuperAdminUser | async"
                    mat-raised-button
                    type="submit"
                    color="primary"
                    (click)="onInprogressRow()"
                    [disabled]="
                        selectedStatusBill ==
                            StatusCycleResult.InprogressToApproved ||
                        billsStatus.length === 0
                    "
                >
                    {{ 'Inprogress' | translate }}
                </button>
            </div>
            <div class="p-10" fxFlex.gt-sm="15" fxFlex.gt-xs="15" fxFlex="100">
                <button
                    *ngIf="isSuperAdminUser | async"
                    mat-raised-button
                    type="submit"
                    color="primary"
                    (click)="onApproveRow()"
                    [disabled]="
                        selectedStatusBill == StatusCycleResult.Approved ||
                        billsStatus.length === 0
                    "
                >
                    {{ 'Approve' | translate }}
                </button>
            </div>
            <div class="p-10" fxFlex.gt-sm="15" fxFlex.gt-xs="15" fxFlex="100">
                <button
                    *ngIf="isSuperAdminUser | async"
                    mat-raised-button
                    type="submit"
                    color="primary"
                    (click)="onRejectRow()"
                    [disabled]="
                        selectedStatusBill == StatusCycleResult.Rejected ||
                        billsStatus.length === 0
                    "
                >
                    {{ 'Reject' | translate }}
                </button>
            </div>
            <div class="p-10" fxFlex.gt-sm="15" fxFlex.gt-xs="15" fxFlex="100">
                <button
                    *ngIf="
                        (isFinanceUser | async) &&
                        selectedStatusBill == StatusCycleResult.Approved &&
                        billsStatus.length > 0
                    "
                    mat-raised-button
                    type="submit"
                    color="primary"
                    (click)="onPay()"
                >
                    {{ 'Pay' | translate }}
                </button>
            </div>
        </div>
        <app-data-grid-view
            [gridDataSource]="dataSource"
            [displayedColumns]="[
            'id',
            'userName',
            'groupName',
            'billMonth',
            'billYear',
            'isPaid',
            'billStatus',
            'billNote',                
        ]"
            (onCheckRow)="onActionRowGrid($event)"
            (onPagination)="onActionRowGrid($event)"
            [lengthData]="length"
            [PaginatorIndex]="paginationIndex"
            [isShowMainActionControls]="false"
            [isShowBoxSelectAll]="true"
        >
        </app-data-grid-view>
    </mat-card-content>
</mat-card>
