.changePass {
    background-color: white;
    border-radius: 15px;
    width: 50%;
    margin: auto;
}

.formSty {
    margin: auto;
}

.test2 {
    width: 25rem;
}

.title {
    color: #1662f3;
    font-weight: bold;
    text-align: center;
}

.saveButton {
    margin-top: 0;
    background-color: rgba(22, 98, 243, 255);
    color: white;
    border-radius: 12px 12px 12px 12px;
}

.saveButton:disabled {
    background-color: rgba(160, 170, 190, 255);
    color: rgba(201, 208, 219, 255);
}

::ng-deep .changePassFields {
    .mat-form-field-outline {
        background-color: rgba(235, 239, 243, 255);
        border-radius: 10px 10px 10px 10px;
    }

    .mat-form-field-flex {
        border-radius: 10px 10px 10px 10px;
    }

    .mat-form-field-outline-start {
        border-radius: 10px 0 0 10px !important;
        min-width: 28px !important;
    }

    .mat-form-field-outline-end {
        border-radius: 0 10px 10px 0 !important;
    }

    .mat-form-field-infix {
        border-top: 0;
        padding-top: 20px;
    }
}

.changePassFields:focus-within .changePassIcons {
    color: rgba(22, 98, 243, 255);
}

.changePassIconsRed {
    color: red;
}

.cursor:hover {
    cursor: pointer;
}
