<mat-card>
    <mat-card-content>
        <div fxLayout="row" fxLayoutWrap="wrap" class="changePass">
            <form [formGroup]="frmChangePassword" class="formSty">
                <h2 class="title">{{ 'changePassword' | translate }}</h2>
                <div fxLayout="row wrap">
                    <!-- col full-->
                    <div
                        class="p-10"
                        fxFlex.gt-sm="100"
                        fxFlex.gt-xs="100"
                        fxFlex="100"
                        class="test2"
                    >
                        <mat-form-field class="changePassFields">
                            <input
                                matInput
                                [type]="isHideOldPassword ? 'password' : 'text'"
                                placeholder="{{ 'oldPassword' | translate }}"
                                formControlName="OldPassword"
                                type="Password"
                                autocomplete="off"
                            />
                            <mat-icon
                                *ngIf="
                                    !frmChangePassword.controls[
                                        'OldPassword'
                                    ].hasError('required') ||
                                    !frmChangePassword.controls['OldPassword']
                                        .touched
                                "
                                class="changePassIcons cursor"
                                matSuffix
                                (click)="isHideOldPassword = !isHideOldPassword"
                                >{{
                                    isHideOldPassword
                                        ? 'visibility_off'
                                        : 'visibility'
                                }}</mat-icon
                            >

                            <mat-icon
                                *ngIf="
                                    frmChangePassword.controls[
                                        'OldPassword'
                                    ].hasError('required') &&
                                    frmChangePassword.controls['OldPassword']
                                        .touched
                                "
                                class="changePassIconsRed cursor"
                                matSuffix
                                (click)="isHideOldPassword = !isHideOldPassword"
                                >{{
                                    isHideOldPassword
                                        ? 'visibility_off'
                                        : 'visibility'
                                }}</mat-icon
                            >
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row wrap">
                    <!-- col full-->
                    <div
                        class="p-10"
                        fxFlex.gt-sm="100"
                        fxFlex.gt-xs="100"
                        fxFlex="100"
                        class="test2"
                    >
                        <mat-form-field class="changePassFields">
                            <input
                                matInput
                                [type]="isHideNewPassword ? 'password' : 'text'"
                                placeholder="{{ 'newPassword' | translate }}"
                                formControlName="NewPassword"
                                type="Password"
                                [pattern]="passwordPattern"
                                autocomplete="off"
                            />
                            <mat-icon
                                *ngIf="
                                    !frmChangePassword.controls[
                                        'NewPassword'
                                    ].hasError('required') ||
                                    !frmChangePassword.controls['NewPassword']
                                        .touched
                                "
                                class="changePassIcons cursor"
                                matSuffix
                                (click)="isHideNewPassword = !isHideNewPassword"
                                >{{
                                    isHideNewPassword
                                        ? 'visibility_off'
                                        : 'visibility'
                                }}</mat-icon
                            >

                            <mat-icon
                                *ngIf="
                                    frmChangePassword.controls[
                                        'NewPassword'
                                    ].hasError('required') &&
                                    frmChangePassword.controls['NewPassword']
                                        .touched
                                "
                                class="changePassIconsRed cursor"
                                matSuffix
                                (click)="isHideNewPassword = !isHideNewPassword"
                                >{{
                                    isHideNewPassword
                                        ? 'visibility_off'
                                        : 'visibility'
                                }}</mat-icon
                            >

                            <small
                                *ngIf="
                                    frmChangePassword.controls[
                                        'NewPassword'
                                    ].hasError('pattern') &&
                                    frmChangePassword.controls['NewPassword']
                                        .touched
                                "
                                class="text-danger support-text"
                                >{{
                                    'PasswordConsistsNineDigits' | translate
                                }}</small
                            >
                        </mat-form-field>
                    </div>
                </div>

                <div fxLayout="row wrap">
                    <!-- col full-->
                    <div
                        class="p-10"
                        fxFlex.gt-sm="100"
                        fxFlex.gt-xs="100"
                        fxFlex="100"
                        class="test2"
                    >
                        <mat-form-field class="changePassFields">
                            <input
                                matInput
                                placeholder="{{
                                    'confirmPassword' | translate
                                }}"
                                formControlName="ComfirmPassword"
                                [type]="
                                    isHidePasswordConfirm ? 'password' : 'text'
                                "
                            />
                            <mat-icon
                                *ngIf="
                                    !frmChangePassword.controls[
                                        'ComfirmPassword'
                                    ].hasError('required') ||
                                    !frmChangePassword.controls[
                                        'ComfirmPassword'
                                    ].touched
                                "
                                class="changePassIcons cursor"
                                matSuffix
                                (click)="
                                    isHidePasswordConfirm = !isHidePasswordConfirm
                                "
                                class="link-hand"
                            >
                                {{
                                    isHidePasswordConfirm
                                        ? 'visibility_off'
                                        : 'visibility'
                                }}</mat-icon
                            >

                            <mat-icon
                                *ngIf="
                                    frmChangePassword.controls[
                                        'ComfirmPassword'
                                    ].hasError('required') &&
                                    frmChangePassword.controls[
                                        'ComfirmPassword'
                                    ].touched
                                "
                                class="changePassIconsRed cursor"
                                matSuffix
                                (click)="
                                    isHidePasswordConfirm = !isHidePasswordConfirm
                                "
                                class="link-hand"
                            >
                                {{
                                    isHidePasswordConfirm
                                        ? 'visibility_off'
                                        : 'visibility'
                                }}</mat-icon
                            >
                        </mat-form-field>

                        <small
                            *ngIf="
                                frmChangePassword.controls['NewPassword']
                                    .value !==
                                    frmChangePassword.controls[
                                        'ComfirmPassword'
                                    ].value &&
                                frmChangePassword.controls['ComfirmPassword']
                                    .touched
                            "
                            class="text-danger support-text"
                            >{{ 'PasswordsDonotMatch' | translate }}</small
                        >
                    </div>
                </div>
                <div fxLayout="row wrap">
                    <!-- col full-->
                    <div
                        fxFlex.gt-sm="100"
                        fxFlex.gt-xs="100"
                        fxFlex="100"
                        class="test2"
                    >
                        <button
                            mat-raised-button
                            color="primary"
                            class="btn-block btn-lg m-t-20 m-b-20 saveButton"
                            (click)="changePassword()"
                            [disabled]="!frmChangePassword.valid"
                        >
                            {{ 'Save' | translate }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </mat-card-content>
</mat-card>
