<mat-card>
    <mat-card-content>
        <div fxLayout="row" fxLayoutWrap="wrap">
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <div fxLayout="row" fxLayoutWrap="wrap">
                    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100">
                        <form [formGroup]="frmChangePassword">
                            <div fxLayout="row wrap">
                                <!-- col full-->
                                <div
                                    class="p-10"
                                    fxFlex.gt-sm="40"
                                    fxFlex.gt-xs="40"
                                    fxFlex="100"
                                >
                                    <mat-form-field>
                                        <mat-label>{{
                                            'oldPassword' | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            [type]="
                                                isHideOldPassword
                                                    ? 'password'
                                                    : 'text'
                                            "
                                            placeholder="{{
                                                'oldPassword' | translate
                                            }}"
                                            formControlName="OldPassword"
                                            type="Password"
                                            [pattern]="passwordPattern"
                                            autocomplete="off"
                                        />
                                        <mat-icon
                                            matSuffix
                                            (click)="
                                                isHideOldPassword = !isHideOldPassword
                                            "
                                            >{{
                                                isHideOldPassword
                                                    ? 'visibility_off'
                                                    : 'visibility'
                                            }}</mat-icon
                                        >
                                        <small
                                            *ngIf="
                                                frmChangePassword.controls[
                                                    'OldPassword'
                                                ].hasError('pattern') &&
                                                frmChangePassword.controls[
                                                    'OldPassword'
                                                ].touched
                                            "
                                            class="text-danger support-text"
                                            >{{
                                                'PasswordConsistsNineDigits'
                                                    | translate
                                            }}</small
                                        >
                                    </mat-form-field>
                                </div>
                            </div>
                            <div fxLayout="row wrap">
                                <!-- col full-->
                                <div
                                    class="p-10"
                                    fxFlex.gt-sm="40"
                                    fxFlex.gt-xs="40"
                                    fxFlex="100"
                                >
                                    <mat-form-field>
                                        <mat-label>{{
                                            'newPassword' | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            [type]="
                                                isHideNewPassword
                                                    ? 'password'
                                                    : 'text'
                                            "
                                            placeholder="{{
                                                'newPassword' | translate
                                            }}"
                                            formControlName="NewPassword"
                                            type="Password"
                                            [pattern]="passwordPattern"
                                            autocomplete="off"
                                        />
                                        <mat-icon
                                            matSuffix
                                            (click)="
                                                isHideNewPassword = !isHideNewPassword
                                            "
                                            >{{
                                                isHideNewPassword
                                                    ? 'visibility_off'
                                                    : 'visibility'
                                            }}</mat-icon
                                        >
                                        <small
                                            *ngIf="
                                                frmChangePassword.controls[
                                                    'NewPassword'
                                                ].hasError('pattern') &&
                                                frmChangePassword.controls[
                                                    'NewPassword'
                                                ].touched
                                            "
                                            class="text-danger support-text"
                                            >{{
                                                'PasswordConsistsNineDigits'
                                                    | translate
                                            }}</small
                                        >
                                    </mat-form-field>
                                </div>
                            </div>

                            <div fxLayout="row wrap">
                                <!-- col full-->
                                <div
                                    class="p-10"
                                    fxFlex.gt-sm="40"
                                    fxFlex.gt-xs="40"
                                    fxFlex="100"
                                >
                                    <mat-form-field style="width: 100%">
                                        <mat-label>{{
                                            'confirmPassword' | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'confirmPassword' | translate
                                            }}"
                                            formControlName="ComfirmPassword"
                                            [type]="
                                                isHidePasswordConfirm
                                                    ? 'password'
                                                    : 'text'
                                            "
                                        />
                                        <mat-icon
                                            matSuffix
                                            (click)="
                                                isHidePasswordConfirm = !isHidePasswordConfirm
                                            "
                                            class="link-hand"
                                        >
                                            {{
                                                isHidePasswordConfirm
                                                    ? 'visibility_off'
                                                    : 'visibility'
                                            }}</mat-icon
                                        >
                                    </mat-form-field>

                                    <small
                                        *ngIf="
                                            frmChangePassword.controls[
                                                'NewPassword'
                                            ].value !==
                                                frmChangePassword.controls[
                                                    'ComfirmPassword'
                                                ].value &&
                                            frmChangePassword.controls[
                                                'ComfirmPassword'
                                            ].touched
                                        "
                                        class="text-danger support-text"
                                        >{{
                                            'PasswordsDonotMatch' | translate
                                        }}</small
                                    >
                                </div>
                            </div>
                            <div fxLayout="row wrap">
                                <!-- col full-->
                                <div
                                    fxFlex.gt-sm="20"
                                    fxFlex.gt-xs="20"
                                    fxFlex="100"
                                >
                                    <button
                                        mat-raised-button
                                        color="primary"
                                        class="btn-block btn-lg m-t-20 m-b-20"
                                        (click)="changePassword()"
                                        [disabled]="!frmChangePassword.valid"
                                    >
                                        {{ 'Save' | translate }}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
