<form [formGroup]="form">
    <mat-table
        class="container-list"
        #table
        [dataSource]="dataSource"
        formArrayName="unDefinedNumber"
    >
        <!-- id Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>
                {{ 'id' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element; let serialNo = index">
                {{ element.id }}
            </mat-cell>
        </ng-container>

        <!-- StatusNumberName Column -->
        <ng-container matColumnDef="StatusNumberName">
            <mat-header-cell *matHeaderCellDef>
                {{ 'StatusNumberName' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{ element.statusNumberName | translate }}
            </mat-cell>
        </ng-container>

        <!-- dialledNumber Column -->
        <ng-container matColumnDef="dialledNumber">
            <mat-header-cell *matHeaderCellDef>
                {{ 'dialledNumber' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{ element.dialledNumber }}
            </mat-cell>
        </ng-container>

        <!-- phoneName Column -->
        <ng-container matColumnDef="phoneName">
            <mat-header-cell *matHeaderCellDef>
                {{ 'phoneName' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{ element.phoneName }}
            </mat-cell>
        </ng-container>

        <!-- typeServiceUsedId Column -->
        <ng-container matColumnDef="typeServiceUsedId">
            <mat-header-cell *matHeaderCellDef>
                {{ 'typeServiceUsedName' | translate }}
            </mat-header-cell>
            <mat-cell
                *matCellDef="let element; let i = index"
                [formGroupName]="i"
            >
                <mat-form-field>
                    <mat-select
                        formControlName="typeServiceUsedId"
                        placeholder="{{ 'typeServiceUsedName' | translate }}"
                    >
                        <mat-option
                            *ngFor="let typeNumber of typePhonesNumbers"
                            [value]="typeNumber.id"
                        >
                            {{ typeNumber.typeNameEn }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-cell>
        </ng-container>

        <!-- serviceUsedName Column -->
        <ng-container matColumnDef="serviceUsedName">
            <mat-header-cell *matHeaderCellDef>
                {{ 'serviceUsedName' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{ element.serviceUsedName }}
            </mat-cell>
        </ng-container>

        <!-- callDateTime Column -->
        <ng-container matColumnDef="callDateTime">
            <mat-header-cell *matHeaderCellDef>
                {{ 'callDateTime' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{ element.callDateTime | date: 'dd - MM - yyyy h:mm:ss a' }}
            </mat-cell>
        </ng-container>

        <!-- callDuration Column -->
        <ng-container matColumnDef="callDuration">
            <mat-header-cell *matHeaderCellDef>
                {{ 'callDuration' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{ element.callDuration }}
            </mat-cell>
        </ng-container>

        <!-- callRetailPrice Column -->
        <ng-container matColumnDef="callRetailPrice">
            <mat-header-cell *matHeaderCellDef>
                {{ 'callRetailPrice' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{ element.callRetailPrice }}
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
</form>

<div class="actionButtonsCont">
    <button mat-raised-button [mat-dialog-close]="false" class="closeButton">
        <mat-icon>close</mat-icon>
        {{ 'Close' | translate }}
    </button>

    <button
        mat-raised-button
        class="addButton"
        (click)="servicesNeedApproval()"
    >
        <mat-icon>save</mat-icon>
        {{ 'Save' | translate }}
    </button>
</div>
