<mat-card>
    <div>
        <h4 class="padding-header">Manage Subscription</h4>
    </div>
    <form novalidate [formGroup]="usersForm">
        <mat-card-content>
            <mat-form-field class="fields padding-fields">
                <mat-label>{{ 'Mobile Number' | translate }}</mat-label>
                <input
                    matInput
                    placeholder="{{ 'Mobile Number' | translate }}"
                    type="text"
                    autocomplete="off"
                    (keyup.enter)="PhoneNumber($event.target.value)"
                />
            </mat-form-field>

            <mat-form-field class="fields padding-fields">
                <mat-label>{{ 'Current Subscriber' | translate }}</mat-label>
                <input
                    matInput
                    placeholder="{{ 'Current Subscriber' | translate }}"
                    type="text"
                    autocomplete="off"
                    readonly
                    formControlName="OldUserName"
                    [value]="name"
                />
            </mat-form-field>

            <mat-form-field class="fields padding-fields">
                <mat-label>{{ 'Change to' | translate }}</mat-label>
                <input
                    matInput
                    placeholder="{{ 'Change to' | translate }}"
                    type="text"
                    autocomplete="off"
                    formControlName="UserName"
                />
            </mat-form-field>

            <mat-form-field class="fields padding-fields">
                <mat-label>Effective Date</mat-label>
                <input
                    formControlName="EffectiveDate"
                    matInput
                    [matDatepicker]="picker"
                />
                <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </mat-card-content>
    </form>

    <button
        style="padding-top: 0; margin-top: 0"
        (click)="gitHistoriesByPhoneNumber()"
        color="primary"
        [disabled]="!user"
        mat-raised-button
        class="button"
    >
        {{ 'Show History' | translate }}
    </button>

    <button
        mat-raised-button
        color="primary"
        [disabled]="!user"
        class="button"
        (click)="Update()"
    >
        {{ 'Save' | translate }}
    </button>
</mat-card>
