<div fxLayout="row wrap" class="dialogContainer">
    <ng-container *ngFor="let message of dialog.messageList">
        <p class="content-span full-width" class="Title">
            {{ message | translate }}
        </p>
    </ng-container>
</div>

<div class="actionButtonsCont">
    <ng-container *ngIf="dialog.showCancel">
        <button
            class="saveButton"
            type="button"
            mat-raised-button
            [mat-dialog-close]="false"
        >
            {{ 'Cancel' | translate | uppercase }}
        </button>
    </ng-container>
    <button
        class="closeButton"
        type="submit"
        mat-raised-button
        color="accent"
        [mat-dialog-close]="true"
        cdkFocusInitial
        (click)="submit()"
    >
        {{ dialog.action | translate | uppercase }}
    </button>
</div>
