<div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <div fxLayout="row" fxLayoutWrap="wrap">
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100">
                <form [formGroup]="frmAddNew">
                    <div fxLayout="row wrap">
                        <!-- col full-->
                        <div
                            class="p-10"
                            fxFlex.gt-sm="33.333"
                            fxFlex.gt-xs="33.333"
                            fxFlex="100"
                        >
                            <mat-form-field style="width: 100%">
                                <input
                                    matInput
                                    placeholder="{{ 'userName' | translate }}"
                                    type="text"
                                    [formControl]="
                                        frmAddNew.controls['UserName']
                                    "
                                    autocomplete="off"
                                />
                            </mat-form-field>
                        </div>
                        <!-- col full-->
                        <div
                            class="p-10"
                            fxFlex.gt-sm="33.333"
                            fxFlex.gt-xs="33.333"
                            fxFlex="100"
                        >
                            <mat-form-field style="width: 100%">
                                <input
                                    matInput
                                    placeholder="{{
                                        'EmailAddress' | translate
                                    }}"
                                    type="email"
                                    [formControl]="frmAddNew.controls['Email']"
                                    autocomplete="off"
                                />
                            </mat-form-field>
                        </div>
                        <!-- col full-->
                        <div
                            class="p-10"
                            fxFlex.gt-sm="33.333"
                            fxFlex.gt-xs="33.333"
                            fxFlex="100"
                        >
                            <mat-form-field style="width: 100%">
                                <input
                                    matInput
                                    placeholder="{{
                                        'PhoneNumber' | translate
                                    }}"
                                    type="text"
                                    [formControl]="
                                        frmAddNew.controls['PhoneNumber']
                                    "
                                    type="number"
                                    autocomplete="off"
                                />
                            </mat-form-field>
                        </div>

                        <div
                            class="p-10"
                            fxFlex.gt-sm="33.333"
                            fxFlex.gt-xs="33.333"
                            fxFlex="100"
                        >
                            <mat-form-field>
                                <mat-label>{{
                                    'Groups' | translate
                                }}</mat-label>
                                <mat-select
                                    placeholder="{{ 'Groups' | translate }}"
                                    formControlName="GroupId"
                                >
                                    <mat-option
                                        *ngFor="let group of groupsModel"
                                        [value]="group.id"
                                    >
                                        {{ group.groupNameAr }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div
                            class="p-10"
                            fxFlex.gt-sm="33.333"
                            fxFlex.gt-xs="33.333"
                            fxFlex="100"
                        >
                            <mat-form-field>
                                <mat-label>{{
                                    'Languages' | translate
                                }}</mat-label>
                                <mat-select
                                    placeholder="{{ 'Languages' | translate }}"
                                    formControlName="LanguageId"
                                >
                                    <mat-option
                                        *ngFor="let language of languagesModel"
                                        [value]="language.id"
                                    >
                                        {{ language.languageCode }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div
                            class="p-10"
                            fxFlex.gt-sm="33.333"
                            fxFlex.gt-xs="33.333"
                            fxFlex="100"
                        >
                            <mat-form-field>
                                <mat-label>{{ 'Roles' | translate }}</mat-label>
                                <mat-select
                                    placeholder="{{ 'Roles' | translate }}"
                                    formControlName="RoleId"
                                >
                                    <mat-option
                                        *ngFor="let role of rolesModel"
                                        [value]="role.id"
                                    >
                                        {{ role.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div
                            class="p-10"
                            fxFlex.gt-sm="75"
                            fxFlex.gt-xs="75"
                            fxFlex="100"
                        >
                            <mat-form-field>
                                <mat-label>{{
                                    'allocatedServices' | translate
                                }}</mat-label>
                                <mat-select
                                    (selectionChange)="sumServicesPrices()"
                                    multiple
                                    placeholder="{{
                                        'allocatedServices' | translate
                                    }}"
                                    formControlName="ServicesUsedId"
                                >
                                    <mat-option
                                        *ngFor="
                                            let serviceUsed of servicesUsedModel
                                        "
                                        [value]="serviceUsed.id"
                                    >
                                        {{ serviceUsed.serviceUsedNameEn }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div
                            class="p-10"
                            fxFlex.gt-sm="25"
                            fxFlex.gt-xs="25"
                            fxFlex="100"
                        >
                            <mat-form-field style="width: 100%">
                                <mat-label>{{
                                    'servicesPrices' | translate
                                }}</mat-label>
                                <input
                                    matInput
                                    placeholder="{{
                                        'servicesPrices' | translate
                                    }}"
                                    type="text"
                                    type="number"
                                    autocomplete="off"
                                    disabled
                                    value="{{ serviceAmount }}"
                                />
                            </mat-form-field>
                        </div>

                        <div
                            class="p-10"
                            fxFlex.gt-sm="50"
                            fxFlex.gt-xs="50"
                            fxFlex="100"
                        >
                            <mat-form-field>
                                <mat-label>{{
                                    'simCardType' | translate
                                }}</mat-label>
                                <mat-select
                                    placeholder="{{
                                        'simCardType' | translate
                                    }}"
                                    formControlName="SimCardTypeId"
                                >
                                    <mat-option
                                        *ngFor="
                                            let simCardType of simCardTypesModel
                                        "
                                        [value]="simCardType.id"
                                    >
                                        {{ simCardType.typeName }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div
                            class="p-10"
                            fxFlex.gt-sm="50"
                            fxFlex.gt-xs="50"
                            fxFlex="100"
                        >
                            <mat-form-field>
                                <mat-label>{{
                                    'simProfileStatus' | translate
                                }}</mat-label>
                                <mat-select
                                    placeholder="{{
                                        'simProfileStatus' | translate
                                    }}"
                                    formControlName="SimProfileId"
                                >
                                    <mat-option
                                        *ngFor="
                                            let simProfile of simProfilesModel
                                        "
                                        [value]="simProfile.id"
                                    >
                                        {{ simProfile.profileName }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div
                            class="p-10"
                            fxFlex.gt-sm="15"
                            fxFlex.gt-xs="15"
                            fxFlex="100"
                        >
                            <button
                                mat-raised-button
                                [mat-dialog-close]="false"
                                color="warn"
                            >
                                <mat-icon>close</mat-icon>
                                {{ 'Close' | translate }}
                            </button>
                        </div>

                        <div
                            class="p-10"
                            fxFlex.gt-sm="15"
                            fxFlex.gt-xs="15"
                            fxFlex="100"
                            [hidden]="frmAddNew.controls['Id'].value != 0"
                        >
                            <button
                                mat-raised-button
                                type="submit"
                                color="primary"
                                (click)="onSubmit()"
                                [disabled]="!frmAddNew.valid || isInProgress"
                            >
                                <mat-icon>add</mat-icon> {{ 'Add' | translate }}
                            </button>
                        </div>

                        <div
                            class="p-10"
                            fxFlex.gt-sm="15"
                            fxFlex.gt-xs="15"
                            fxFlex="100"
                            [hidden]="frmAddNew.controls['Id'].value == 0"
                        >
                            <button
                                mat-raised-button
                                type="submit"
                                color="primary"
                                (click)="onSubmit()"
                                [disabled]="!frmAddNew.valid || isInProgress"
                            >
                                <mat-icon>save</mat-icon>
                                {{ 'Save' | translate }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
