<div class="login-register">
    <div class="login-register-box">
        <form [formGroup]="frmResetPassword">
            <div class="text-center">
                <img class="loginIcon" alt="homepage" [src]="loginIcon" />

                <img
                    class="mukalamatIcon"
                    alt="homepage"
                    [src]="mukalamatIcon"
                />

                <img
                    class="PhoneBillingIcon"
                    alt="homepage"
                    [src]="PhoneBillingSystemIcon"
                />
                <h4 class="m-t-0 resetText">
                    {{ 'ResetPassword' | translate }}
                </h4>
            </div>

            <div fxLayout="row wrap">
                <!-- col full-->
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-form-field style="width: 100%" class="resetFields">
                        <input
                            matInput
                            [type]="isHidePassword ? 'password' : 'text'"
                            placeholder="{{ 'Password' | translate }}"
                            [pattern]="passwordPattern"
                            formControlName="PasswordHash"
                        />
                        <mat-icon
                            *ngIf="
                                !frmResetPassword.controls[
                                    'PasswordHash'
                                ].hasError('required') ||
                                !frmResetPassword.controls['PasswordHash']
                                    .touched
                            "
                            matSuffix
                            (click)="isHidePassword = !isHidePassword"
                            class="resetIcons cursor"
                        >
                            {{
                                isHidePassword ? 'visibility_off' : 'visibility'
                            }}</mat-icon
                        >

                        <mat-icon
                            *ngIf="
                                frmResetPassword.controls[
                                    'PasswordHash'
                                ].hasError('required') &&
                                frmResetPassword.controls['PasswordHash']
                                    .touched
                            "
                            matSuffix
                            class="resetIconsRed cursor"
                            (click)="isHidePassword = !isHidePassword"
                        >
                            {{
                                isHidePassword ? 'visibility_off' : 'visibility'
                            }}
                        </mat-icon>
                    </mat-form-field>
                    <small
                        *ngIf="
                            frmResetPassword.controls['PasswordHash'].hasError(
                                'required'
                            ) &&
                            frmResetPassword.controls['PasswordHash'].touched
                        "
                        class="text-danger support-text"
                        >{{ 'MustIncludePassword' | translate }}</small
                    >
                    <small
                        *ngIf="
                            frmResetPassword.controls['PasswordHash'].hasError(
                                'pattern'
                            ) &&
                            frmResetPassword.controls['PasswordHash'].touched
                        "
                        class="text-danger support-text"
                        >{{ 'PasswordConsistsNineDigits' | translate }}</small
                    >
                </div>
                <!-- col full-->
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-form-field style="width: 100%" class="resetFields">
                        <input
                            matInput
                            placeholder="{{ 'ConfirmPassword' | translate }}"
                            [type]="isHidePasswordConfirm ? 'password' : 'text'"
                            formControlName="ConfirmPassword"
                        />
                        <mat-icon
                            *ngIf="
                                !frmResetPassword.controls[
                                    'ConfirmPassword'
                                ].hasError('required') ||
                                !frmResetPassword.controls['ConfirmPassword']
                                    .touched
                            "
                            matSuffix
                            (click)="
                                isHidePasswordConfirm = !isHidePasswordConfirm
                            "
                            class="resetIcons cursor"
                        >
                            {{
                                isHidePasswordConfirm
                                    ? 'visibility_off'
                                    : 'visibility'
                            }}</mat-icon
                        >

                        <mat-icon
                            *ngIf="
                                frmResetPassword.controls[
                                    'ConfirmPassword'
                                ].hasError('required') &&
                                frmResetPassword.controls['ConfirmPassword']
                                    .touched
                            "
                            matSuffix
                            class="resetIconsRed cursor"
                            (click)="isHidePassword = !isHidePassword"
                        >
                            {{
                                isHidePassword ? 'visibility_off' : 'visibility'
                            }}
                        </mat-icon>
                    </mat-form-field>
                    <small
                        *ngIf="
                            frmResetPassword.controls[
                                'ConfirmPassword'
                            ].hasError('required') &&
                            frmResetPassword.controls['ConfirmPassword'].touched
                        "
                        class="text-danger support-text"
                        >{{ 'MustIncludeConfirmPassword' | translate }}</small
                    >
                    <small
                        *ngIf="
                            frmResetPassword.controls['ConfirmPassword']
                                .value !==
                            frmResetPassword.controls['PasswordHash'].value
                        "
                        class="text-danger support-text"
                        >{{ 'PasswordsDonotMatch' | translate }}</small
                    >
                </div>

                <!-- col full-->
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <button
                        mat-raised-button
                        class="btn-block btn-lg m-t-20 m-b-20 resetButton"
                        (click)="onSubmit()"
                        [disabled]="!frmResetPassword.valid"
                    >
                        {{ 'Reset' | translate }}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<footer class="footer">
    <img [src]="footerIcon" class="footerIcon" />
</footer>
