<div
    class="login-register"
    style="background-image: url(assets/images/background/login-register.jpg)"
>
    <div class="login-register-box">
        <mat-card>
            <mat-card-content>
                <form [formGroup]="frmResetPassword">
                    <div class="text-center">
                        <h4 class="m-t-0">{{ 'ResetPassword' | translate }}</h4>
                    </div>

                    <div fxLayout="row wrap">
                        <!-- col full-->
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field style="width: 100%">
                                <input
                                    matInput
                                    [type]="
                                        isHidePassword ? 'password' : 'text'
                                    "
                                    placeholder="{{ 'Password' | translate }}"
                                    [pattern]="passwordPattern"
                                    formControlName="PasswordHash"
                                />
                                <mat-icon
                                    matSuffix
                                    (click)="isHidePassword = !isHidePassword"
                                    class="link-hand"
                                >
                                    {{
                                        isHidePassword
                                            ? 'visibility_off'
                                            : 'visibility'
                                    }}</mat-icon
                                >
                            </mat-form-field>
                            <small
                                *ngIf="
                                    frmResetPassword.controls[
                                        'PasswordHash'
                                    ].hasError('required') &&
                                    frmResetPassword.controls['PasswordHash']
                                        .touched
                                "
                                class="text-danger support-text"
                                >{{ 'MustIncludePassword' | translate }}</small
                            >
                            <small
                                *ngIf="
                                    frmResetPassword.controls[
                                        'PasswordHash'
                                    ].hasError('pattern') &&
                                    frmResetPassword.controls['PasswordHash']
                                        .touched
                                "
                                class="text-danger support-text"
                                >{{
                                    'PasswordConsistsNineDigits' | translate
                                }}</small
                            >
                        </div>
                        <!-- col full-->
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field style="width: 100%">
                                <input
                                    matInput
                                    placeholder="{{
                                        'ConfirmPassword' | translate
                                    }}"
                                    [type]="
                                        isHidePasswordConfirm
                                            ? 'password'
                                            : 'text'
                                    "
                                    formControlName="ConfirmPassword"
                                />
                                <mat-icon
                                    matSuffix
                                    (click)="
                                        isHidePasswordConfirm = !isHidePasswordConfirm
                                    "
                                    class="link-hand"
                                >
                                    {{
                                        isHidePasswordConfirm
                                            ? 'visibility_off'
                                            : 'visibility'
                                    }}</mat-icon
                                >
                            </mat-form-field>
                            <small
                                *ngIf="
                                    frmResetPassword.controls[
                                        'ConfirmPassword'
                                    ].hasError('required') &&
                                    frmResetPassword.controls['ConfirmPassword']
                                        .touched
                                "
                                class="text-danger support-text"
                                >{{
                                    'MustIncludeConfirmPassword' | translate
                                }}</small
                            >
                            <small
                                *ngIf="
                                    frmResetPassword.controls['ConfirmPassword']
                                        .value !==
                                    frmResetPassword.controls['PasswordHash']
                                        .value
                                "
                                class="text-danger support-text"
                                >{{ 'PasswordsDonotMatch' | translate }}</small
                            >
                        </div>

                        <!-- col full-->
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <button
                                mat-raised-button
                                color="primary"
                                class="btn-block btn-lg m-t-20 m-b-20"
                                (click)="onSubmit()"
                                [disabled]="!frmResetPassword.valid"
                            >
                                {{ 'Reset' | translate }}
                            </button>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
