<div class="sideMenu">
    <mat-nav-list appAccordion>
        <mat-list-item
            appAccordionLink
            *ngFor="let menuitem of menuItems.getMenuitem()"
            routerLinkActive="selected"
            group="{{ menuitem.state }}"
        >
            <a
                (click)="subItem(menuitem)"
                class=""
                appAccordionToggle
                [routerLink]="['/', menuitem.state]"
                *ngIf="menuitem.type === 'link'"
            >
                <mat-icon>{{ menuitem.icon }}</mat-icon>
                <span>{{ menuitem.name | translate }}</span>
                <span fxFlex></span>
                <span
                    class="label label-{{ badge.type }}"
                    *ngFor="let badge of menuitem.badge"
                    >{{ badge.value }}</span
                >
            </a>

            <a
                (click)="subItem(menuitem)"
                class=""
                appAccordionToggle
                href="{{ menuitem.state }}"
                *ngIf="menuitem.type === 'extLink'"
            >
                <mat-icon>{{ menuitem.icon }}</mat-icon>
                <span>{{ menuitem.name | translate }}</span>
                <span fxFlex></span>
                <span
                    class="label label-{{ badge.type }}"
                    *ngFor="let badge of menuitem.badge"
                    >{{ badge.value }}</span
                >
            </a>
            <a
                (click)="subItem(menuitem)"
                class=""
                appAccordionToggle
                href="{{ menuitem.state }}"
                target="_blank"
                *ngIf="menuitem.type === 'extTabLink'"
            >
                <mat-icon>{{ menuitem.icon }}</mat-icon>
                <span>{{ menuitem.name | translate }}</span>
                <span fxFlex></span>
                <span
                    class="label label-{{ badge.type }}"
                    *ngFor="let badge of menuitem.badge"
                    >{{ badge.value }}</span
                >
            </a>

            <a
                (click)="subItem(menuitem)"
                class="Item"
                appAccordionToggle
                href="javascript:;"
                *ngIf="menuitem.type === 'sub' && isRoleMatch(menuitem.roles)"
            >
                <div class="itemLabel">
                    <span class="itemIcon"
                        ><mat-icon>{{ menuitem.icon }}</mat-icon></span
                    >

                    <span class="itemText">{{
                        menuitem.name | translate
                    }}</span>
                </div>

                <!-- <mat-icon class="dd-icon">keyboard_arrow_down</mat-icon> -->
            </a>

            <div
                class="saperator text-muted"
                *ngIf="menuitem.type === 'saperator'"
            >
                <span>{{ menuitem.name | translate }}</span>
            </div>
        </mat-list-item>
    </mat-nav-list>
</div>

<div class="sideNavList">
    <mat-nav-list class="subNavList" *ngIf="sub.type === 'sub'">
        <mat-list-item
            class="subItems"
            *ngFor="let childitem of sub.children"
            routerLinkActive="selected"
        >
            <a
                [routerLink]="['/', sub.state, childitem.state]"
                *ngIf="
                    childitem.type === 'link' && isRoleMatch(childitem.roles)
                "
                class="relative"
                routerLinkActive="selected"
                >{{ childitem.name | translate }}</a
            >
        </mat-list-item>
        <mat-list-item *ngFor="let childitem of sub.children">
            <a
                href="javascript: void(0);"
                *ngIf="childitem.type === 'subchild'"
                routerLinkActive="selected"
            >
                <span>{{ childitem.name | translate }}</span>
                <span fxFlex></span>
                <mat-icon class="dd-icon">keyboard_arrow_down</mat-icon>
            </a>
            <mat-nav-list *ngIf="childitem.type === 'subchild'">
                <mat-list-item
                    *ngFor="let child of childitem.subchildren"
                    routerLinkActive="selected"
                >
                    <a
                        [routerLink]="[
                            '/',
                            sub.state,
                            childitem.state,
                            child.state
                        ]"
                        routerLinkActive="selected"
                        >{{ child.name | translate }}</a
                    >
                </mat-list-item>
            </mat-nav-list>
        </mat-list-item>
    </mat-nav-list>
</div>
