<mat-card>
    <mat-card-content>
        <div>
            <div class="dropDownDiv">
                <mat-form-field class="dropDownField">
                    <mat-select
                        (selectionChange)="changeIncomingNumbers($event.value)"
                        placeholder="{{ 'statusNumberName' | translate }}"
                        [(value)]="selectedStatusNumber"
                    >
                        <mat-option
                            *ngFor="
                                let satusNumber of statusCycleBills;
                                let i = index
                            "
                            [value]="i + 1"
                        >
                            {{ satusNumber | translate }}</mat-option
                        >
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="billActionsButtonsCont">
                <button
                    mat-raised-button
                    type="submit"
                    class="billActionsButtons"
                    (click)="onInprogressRow()"
                    [disabled]="
                        selectedStatusNumber ==
                            StatusCycleResult.InprogressToApproved ||
                        ServicesStatus.length === 0
                    "
                >
                    {{ 'Inprogress' | translate }}
                    <div class="inProgressIcon"></div>
                </button>
            </div>

            <div class="billActionsButtonsCont">
                <button
                    mat-raised-button
                    type="submit"
                    class="billActionsButtons"
                    (click)="onApproveRow()"
                    [disabled]="
                        selectedStatusNumber == StatusCycleResult.Approved ||
                        ServicesStatus.length === 0
                    "
                >
                    {{ 'Approve' | translate }}
                    <div class="approveIcon"></div>
                </button>
            </div>

            <div class="billActionsButtonsCont">
                <button
                    mat-raised-button
                    type="submit"
                    class="billActionsButtons"
                    (click)="onRejectRow()"
                    [disabled]="
                        selectedStatusNumber == StatusCycleResult.Rejected ||
                        ServicesStatus.length === 0
                    "
                >
                    {{ 'Reject' | translate }}
                    <div class="rejectIcon"></div>
                </button>
            </div>
        </div>
        <app-data-grid-view
            [gridDataSource]="dataSource"
            [displayedColumns]="[
            'dialledNumber',
            'typePhoneNumberName',
            'phoneName',
            'serviceUsedName',
            'typeServiceUsedName',
            'callDateTime',
            'callDuration',
            'callRetailPrice',
            ]"
            (onCheckRow)="onActionRowGrid($event)"
            (onPagination)="onActionRowGrid($event)"
            [lengthData]="length"
            [PaginatorIndex]="paginationIndex"
            [isShowMainActionControls]="false"
            [isShowBoxSelectAll]="true"
        >
        </app-data-grid-view>
    </mat-card-content>
</mat-card>
