.mat-dialog-actions {
    padding: 3px 96px;
    display: flex;
    flex-wrap: wrap;
    min-height: 52px;
    align-items: center;
    box-sizing: content-box;
    margin-bottom: -24px;
}

.otp {
    flex-flow: row wrap;
    box-sizing: border-box;
    display: flex;
    padding: 0 152px 0 157px;
}
