<div fxLayout="row wrap" class="dialogContainer">
    <div class="Title">{{ 'enterOTPcode' | translate }}</div>

    <div class="OTPcode">
        <div fxflex.gt-xs="10">
            <ng-template>
                <mat-form-field>
                    <input
                        value="dialog.email"
                        matinput
                        type="text"
                        autocomplete="off"
                    />
                </mat-form-field>
            </ng-template>
        </div>

        <div fxFlex.gt-xs="10">
            <mat-form-field>
                <input
                    [(ngModel)]="FirstNumber"
                    matInput
                    type="text"
                    autocomplete="off"
                />
            </mat-form-field>
        </div>

        <div fxFlex.gt-xs="10">
            <mat-form-field>
                <input
                    [(ngModel)]="SecondNumbre"
                    matInput
                    type="text"
                    autocomplete="off"
                />
            </mat-form-field>
        </div>

        <div fxFlex.gt-xs="10">
            <mat-form-field>
                <input
                    [(ngModel)]="ThirdNumber"
                    matInput
                    type="text"
                    autocomplete="off"
                />
            </mat-form-field>
        </div>

        <div fxFlex.gt-xs="10">
            <mat-form-field>
                <input
                    [(ngModel)]="FourthNumber"
                    matInput
                    type="text"
                    autocomplete="off"
                />
            </mat-form-field>
        </div>
    </div>
</div>

<div class="actionButtonsCont">
    <button class="closeButton" [mat-dialog-close]="false">
        {{ 'Cancel' | translate | uppercase }}
    </button>

    <button class="saveButton" [mat-dialog-close]="true" (click)="submit()">
        {{ dialog.action | translate | uppercase }}
    </button>
</div>

<!-- <h2 mat-dialog-title>{{ dialog.title }}</h2>
<mat-dialog-content class="content-container">
    <ng-container *ngFor="let message of dialog.messageList">
        <p class="content-span full-width">{{ message | translate }}</p>
    </ng-container>
</mat-dialog-content>
<mat-dialog-actions>
    <ng-container *ngIf="dialog.showCancel">
        <button
            id="cancel-button"
            class="mat-elevation-z0"
            type="button"
            mat-raised-button
            [mat-dialog-close]="false"
        >
            {{ 'Cancel' | translate | uppercase }}
        </button>
    </ng-container>
    <button
        id="form-submit-button"
        class="mat-elevation-z0"
        type="submit"
        mat-raised-button
        color="accent"
        [mat-dialog-close]="true"
        cdkFocusInitial
        (click)="submit()"
    >
        {{ dialog.action | translate | uppercase }}
    </button>
</mat-dialog-actions> -->
