<div class="login-register">
    <div class="login-register-box">
        <form [formGroup]="frmForgotPassword">
            <div class="text-center">
                <!-- <img alt="homepage" src="assets/images/logo-icon.png" /> -->
                <img class="loginIcon" alt="homepage" [src]="loginIcon" />

                <img
                    class="mukalamatIcon"
                    alt="homepage"
                    [src]="mukalamatIcon"
                />

                <img
                    class="PhoneBillingIcon"
                    alt="homepage"
                    [src]="PhoneBillingSystemIcon"
                />

                <h4 class="m-t-0 forgotText">
                    {{ 'ForgotPassword' | translate }}
                </h4>
            </div>

            <div fxLayout="row wrap">
                <!-- col full-->
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-form-field class="forgotFields">
                        <input
                            matInput
                            placeholder="{{ 'email' | translate }}"
                            formControlName="email"
                            autocomplete="off"
                        />
                        <mat-icon
                            *ngIf="
                                !frmForgotPassword.controls['email'].hasError(
                                    'required'
                                ) ||
                                !frmForgotPassword.controls['email'].touched
                            "
                            matSuffix
                            class="forgotIcons"
                        >
                            alternate_email
                        </mat-icon>

                        <mat-icon
                            matSuffix
                            class="forgotIconsRed"
                            *ngIf="
                                frmForgotPassword.controls['email'].hasError(
                                    'required'
                                ) && frmForgotPassword.controls['email'].touched
                            "
                        >
                            alternate_email
                        </mat-icon>
                    </mat-form-field>
                </div>
                <!-- col full-->
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <button
                        mat-raised-button
                        color="primary"
                        class="btn-block btn-lg m-t-20 m-b-20 forgotButton"
                        type="submit"
                        (click)="reset()"
                        [disabled]="!frmForgotPassword.valid"
                    >
                        {{ 'Reset' | translate }}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<footer class="footer">
    <img [src]="footerIcon" class="footerIcon" />
</footer>
