.login-register {
    background-color: white;
    height: 87vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px 15px 0 0;
}

.forgotText {
    color: red;
    font-size: x-large;
    font-weight: bold;
    margin-top: 2rem;
}

.forgotButton {
    margin-top: 0;
    background-color: rgba(22, 98, 243, 255);
    color: white;
    border-radius: 12px 12px 12px 12px;
}

.forgotButton:disabled {
    background-color: rgba(160, 170, 190, 255);
    color: rgba(201, 208, 219, 255);
}

.forgotFields:focus-within .forgotIcons {
    color: rgba(22, 98, 243, 255);
}

.forgotIconsRed {
    color: red;
}

::ng-deep .forgotFields {
    .mat-form-field-outline {
        background-color: rgba(235, 239, 243, 255);
        border-radius: 10px 10px 10px 10px;
    }

    .mat-form-field-flex {
        border-radius: 10px 10px 10px 10px;
    }

    .mat-form-field-outline-start {
        border-radius: 10px 0 0 10px !important;
        min-width: 28px !important;
    }

    .mat-form-field-outline-end {
        border-radius: 0 10px 10px 0 !important;
    }

    .mat-form-field-infix {
        border-top: 0;
        padding-top: 20px;
    }
}

.footerIcon {
    width: 13rem;
}

.footer {
    z-index: 1;
    background-color: rgba(235, 239, 243, 255);
    width: 100%;
    padding-top: 10px;
    margin-top: -15px;
    border-radius: 0 0 15px 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
