<div fxLayout="row wrap">
    <div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <!-- <app-criteria-filter [showUsers]="true" [showMonthsNames]="true" [showYearsNumbers]="true" [userData]="usersModel"
      [selectBillMonthId]="billMonthId" [selectBillYearId]="billYearId" [selectUserId]="billUserId" (emitSearch)="onSearch($event)">
    </app-criteria-filter> -->
    </div>
    <div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div fxLayout="row wrap">
                    <div
                        class="p-10"
                        fxFlex.gt-sm="15"
                        fxFlex.gt-xs="15"
                        fxFlex="100"
                    >
                        <button
                            mat-raised-button
                            type="submit"
                            color="primary"
                            [disabled]="
                                countDefinedNumbers > 0 ||
                                countServicesNeedApproval > 0 ||
                                isSubmitByAdmin
                            "
                            (click)="submitBill()"
                        >
                            {{ 'submitBill' | translate }}
                        </button>
                    </div>

                    <div
                        class="p-10"
                        fxFlex.gt-sm="20"
                        fxFlex.gt-xs="20"
                        fxFlex="100"
                    >
                        <button
                            mat-raised-button
                            type="submit"
                            color="primary"
                            (click)="onSetPhoneNumberType()"
                            [matBadge]="countDefinedNumbers"
                            matBadgePosition="after"
                            matBadgeColor="warn"
                            [disabled]="countDefinedNumbers === 0"
                        >
                            {{ 'New Numbers' | translate }}
                        </button>
                    </div>

                    <div
                        class="p-10"
                        fxFlex.gt-sm="20"
                        fxFlex.gt-xs="20"
                        fxFlex="100"
                    >
                        <button
                            mat-raised-button
                            type="submit"
                            color="primary"
                            (click)="onSetServiceType()"
                            [matBadge]="countServicesNeedApproval"
                            matBadgePosition="after"
                            matBadgeColor="warn"
                            [disabled]="
                                countServicesNeedApproval === 0 ||
                                isSubmitByAdmin
                            "
                        >
                            {{ 'isNeedApproval' | translate }}
                        </button>
                    </div>

                    <!-- <form [formGroup]="billDetailsForm" style="width: 100%">
            <div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">

              <mat-form-field style="width: 33.3%">
                <mat-label>{{
                  'TotalOfficialCallsCost' | translate
                  }}</mat-label>
                <input formControlName="TotalOfficialCallsCost" matInput placeholder="{{ 'TotalOfficialCallsCost' | translate }}" type="text" autocomplete="off"
                  readonly />
              </mat-form-field>

              <mat-form-field style="width: 33.3%">
                <mat-label>{{
                  'TotalEmptyCallsCost' | translate
                  }}</mat-label>
                <input formControlName="TotalEmptyCallsCost" matInput placeholder="{{ 'TotalEmptyCallsCost' | translate }}" type="text" autocomplete="off"
                  readonly />
              </mat-form-field>

              <mat-form-field style="width: 33.3%">
                <mat-label>{{
                  'TotalPersonalCallsCost' | translate
                  }}</mat-label>
                <input formControlName="TotalPersonalCallsCost" matInput placeholder="{{ 'TotalPersonalCallsCost' | translate }}" type="text" autocomplete="off"
                  readonly />
              </mat-form-field>

              <mat-form-field style="width: 33.3%">
                <mat-label>{{
                  'TotalUnknownCallsCost' | translate
                  }}</mat-label>
                <input formControlName="TotalUnknownCallsCost" matInput placeholder="{{ 'TotalUnknownCallsCost' | translate }}" type="text" autocomplete="off"
                  readonly />
              </mat-form-field>

              <mat-form-field style="width: 33.3%">
                <mat-label>{{
                  'FixedAmount' | translate
                  }}</mat-label>
                <input formControlName="FixedAmount" matInput placeholder="{{ 'FixedAmount' | translate }}" type="text" autocomplete="off" readonly />
              </mat-form-field>

              <mat-form-field style="width: 33.3%">
                <mat-label>{{
                  'GrandTotal' | translate
                  }}</mat-label>
                <input formControlName="GrandTotal" matInput placeholder="{{ 'GrandTotal' | translate }}" type="text" autocomplete="off" readonly />
              </mat-form-field>

            </div>

          </form> -->

                    <div
                        class="p-10"
                        fxFlex.gt-sm="100"
                        fxFlex.gt-xs="100"
                        fxFlex="100"
                    >
                        <app-data-grid-view
                            [gridDataSource]="dataSource"
                            [displayedColumns]="[
                                'id',
                                'userName',
                                'phoneNumber',
                                'dialledNumber',
                                'typePhoneNumberName',
                                'callDateTime',
                                'callDuration',
                                'callDiscountPrice',
                                'callRetailPrice',
                                'serviceUsedName',
                                'typeServiceUsedName'
                            ]"
                            (onPagination)="onActionRowGrid($event)"
                            [lengthData]="length"
                            [PaginatorIndex]="paginationIndex"
                            [isShowMainActionControls]="false"
                            (emitSearch)="onSearch($event)"
                        >
                        </app-data-grid-view>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
