<!-- <app-criteria-filter [showUsers]="true" [showMonthsNames]="true" [showYearsNumbers]="true" [userData]="usersModel"
      [selectBillMonthId]="billMonthId" [selectBillYearId]="billYearId" [selectUserId]="billUserId" (emitSearch)="onSearch($event)">
    </app-criteria-filter> -->

<mat-card>
    <mat-card-content>
        <button
            mat-raised-button
            type="submit"
            class="actionButtons submitPos"
            [disabled]="
                countDefinedNumbers > 0 ||
                countServicesNeedApproval > 0 ||
                isSubmitByAdmin
            "
            (click)="submitBill()"
        >
            {{ 'submitBill' | translate }}
        </button>

        <div class="actionButtonsToRight">
            <button
                mat-raised-button
                type="submit"
                class="actionButtons"
                (click)="onSetPhoneNumberType()"
                [matBadge]="countDefinedNumbers"
                matBadgePosition="after"
                matBadgeColor="warn"
                [disabled]="countDefinedNumbers === 0"
            >
                {{ 'NewNumbers' | translate }}
            </button>

            <button
                mat-raised-button
                type="submit"
                class="actionButtons"
                (click)="onSetServiceType()"
                [matBadge]="countServicesNeedApproval"
                matBadgePosition="after"
                matBadgeColor="warn"
                [disabled]="countServicesNeedApproval === 0 || isSubmitByAdmin"
            >
                {{ 'isNeedApproval' | translate }}
            </button>
        </div>

        <!-- <form [formGroup]="billDetailsForm" style="width: 100%">
            <div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">

              <mat-form-field style="width: 33.3%">
                <mat-label>{{
                  'TotalOfficialCallsCost' | translate
                  }}</mat-label>
                <input formControlName="TotalOfficialCallsCost" matInput placeholder="{{ 'TotalOfficialCallsCost' | translate }}" type="text" autocomplete="off"
                  readonly />
              </mat-form-field>

              <mat-form-field style="width: 33.3%">
                <mat-label>{{
                  'TotalEmptyCallsCost' | translate
                  }}</mat-label>
                <input formControlName="TotalEmptyCallsCost" matInput placeholder="{{ 'TotalEmptyCallsCost' | translate }}" type="text" autocomplete="off"
                  readonly />
              </mat-form-field>

              <mat-form-field style="width: 33.3%">
                <mat-label>{{
                  'TotalPersonalCallsCost' | translate
                  }}</mat-label>
                <input formControlName="TotalPersonalCallsCost" matInput placeholder="{{ 'TotalPersonalCallsCost' | translate }}" type="text" autocomplete="off"
                  readonly />
              </mat-form-field>

              <mat-form-field style="width: 33.3%">
                <mat-label>{{
                  'TotalUnknownCallsCost' | translate
                  }}</mat-label>
                <input formControlName="TotalUnknownCallsCost" matInput placeholder="{{ 'TotalUnknownCallsCost' | translate }}" type="text" autocomplete="off"
                  readonly />
              </mat-form-field>

              <mat-form-field style="width: 33.3%">
                <mat-label>{{
                  'FixedAmount' | translate
                  }}</mat-label>
                <input formControlName="FixedAmount" matInput placeholder="{{ 'FixedAmount' | translate }}" type="text" autocomplete="off" readonly />
              </mat-form-field>

              <mat-form-field style="width: 33.3%">
                <mat-label>{{
                  'GrandTotal' | translate
                  }}</mat-label>
                <input formControlName="GrandTotal" matInput placeholder="{{ 'GrandTotal' | translate }}" type="text" autocomplete="off" readonly />
              </mat-form-field>

            </div>

          </form> -->

        <app-data-grid-view
            [gridDataSource]="dataSource"
            [displayedColumns]="[
                'id',
                'userName',
                'phoneNumber',
                'dialledNumber',
                'typePhoneNumberName',
                'callDateTime',
                'callDuration',
                'callDiscountPrice',
                'callRetailPrice',
                'serviceUsedName',
                'typeServiceUsedName'
            ]"
            (onPagination)="onActionRowGrid($event)"
            [lengthData]="length"
            [PaginatorIndex]="paginationIndex"
            [isShowMainActionControls]="false"
            (emitSearch)="onSearch($event)"
        >
        </app-data-grid-view>
    </mat-card-content>
</mat-card>
