.saveButton {
    position: absolute;
    right: 1rem;
    width: 10rem !important;
    height: 2.5rem;
    border-radius: 15px;
    background-color: #1662f3;
    color: white;
    z-index: 2;
}

.matTapGroup {
    position: relative;
    max-height: 73vh;
}

.gsMatCard {
    background-color: white;
    height: 75vh;
}

hr {
    background-color: black;
}
